.typed {
    font-size: 3vw;
    letter-spacing: 3px;
    /* font-weight: 500; */
    color: #fff;
}

.sample-bar {
    font-size: 3vw;
    letter-spacing: 3px;
    /* font-weight: 500; */
    color: #fff;
}
